body {
  margin: 0;
  width: 100%;
  background-color: #C4BCAD;
}
body .headerLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}
body .vector {
  position: absolute;
  width: 110px;
  height: 50px;
  top: 40px;
  right: 50px;
}
body .vector svg {
  width: 50px;
  position: relative;
  right: -20px;
}
body .vector div span {
  color: #675A49;
  font-size: 13px;
  font-weight: bold;
}
body .vector div a {
  color: #fff;
}
body nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
body nav li {
  display: inline-block;
}
body nav a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: #675A49;
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
body nav a:hover {
  border-bottom: 2px solid white;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}
body div.card {
  width: 100%;
  height: 550px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
body .products.card::before {
  background-image: url(../img/productsHome.jpg);
}
body .franchise::before {
  background-image: url(../img/franchiseHome.jpg);
}
body .shops::before {
  background-image: url(../img/shopsHome.jpg);
}
body div.card::before {
  transition: 0.3s;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body div.card:hover::before {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
body div.card span {
  position: relative;
}
body a:hover {
  text-decoration: none;
}
body a {
  text-decoration: none;
}
body a div:hover span {
  color: #675A49;
  background-color: #C4BCAD;
  width: 100%;
}
body a div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
body a div span {
  display: block;
  transition: 0.3s;
  font-size: 25px;
  color: #C4BCAD;
  background-color: #675A49;
  font-family: Verdana, Geneva, sans-serif;
  width: 13%;
  text-align: center;
  height: 40px;
  margin: 0 auto;
  margin-top: 10%;
}
body .dropdown {
  position: relative;
  display: inline-block;
}
body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #C4BCAD;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1;
}
body .dropdown:hover .dropdown-content {
  display: block;
}
body .dropdown:hover .dropdown-content a {
  font-size: 16px;
}
body .footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C4BCAD;
}
body .footer img {
  display: block;
  margin-left: 25px;
  margin-top: 5px;
  margin-right: auto;
  width: 50px;
}
body .footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
body .fa {
  padding: 5px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  transition: 0.5s;
}
body .fa:hover {
  background-color: white;
  color: #675A49;
  border-radius: 50%;
}
body .fa-facebook {
  border-radius: 50%;
  background-color: #675A49;
  color: #C4BCAD;
}
body .fa-twitter {
  border-radius: 50%;
  background-color: #675A49;
  color: #C4BCAD;
}
body .fa-instagram {
  border-radius: 50%;
  background-color: #675A49;
  color: #C4BCAD;
}
body div.heroProd {
  height: 300px;
  width: 100%;
  position: static;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/products.jpg);
}
body div.gallery {
  border: 1px solid #ccc;
}
body div.gallery:hover {
  border: 1px solid #675A49;
}
body div.gallery img {
  width: 100%;
  height: auto;
}
body div.desc {
  padding: 15px;
  text-align: center;
}
body * {
  box-sizing: border-box;
}
body .responsive {
  padding: 0;
  float: left;
  width: 25%;
}
body div.heroFranch {
  height: 300px;
  width: 100%;
  position: static;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/franchiseHome.jpg);
}
body .franchiseContainer {
  background-color: #675A49;
  color: #fff;
  height: 700px;
  text-align: center;
}
body .franchiseContainer span {
  display: block;
  padding: 20px;
  font-size: 25px;
}
body .franchiseContainer span.price {
  color: #675A49;
}
body .franchiseContainer a {
  display: block;
  text-decoration: none;
  font-size: 30px;
  background-color: #fff;
  color: #675A49;
  padding: 10px;
  transition: 0.3s;
}
body .franchiseContainer a:hover {
  color: #fff;
  background-color: #675A49;
}
body .franchiseContainer p {
  margin-top: 100px;
  background-color: #C4BCAD;
  height: 500px;
}
body div.heroAbout {
  height: 300px;
  width: 100%;
  position: static;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/about.jpg);
}
body div.overlay {
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body div.overlay img {
  max-height: 800px;
  max-width: 800px;
}
body div.gallery .item {
  display: inline-block;
}
body div.gallery .item img {
  width: 300px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
body div.about img {
  display: block;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
body .container p {
  color: #675A49;
}
body div.heroContact {
  height: 300px;
  width: 100%;
  position: static;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/about.jpg);
}
body .prodOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
body .prodOverlay .itemLightbox {
  height: 500px;
  background-color: #fff;
}
body .prodOverlay .productImg img {
  height: 300px;
  margin: 20px;
}
body .prodOverlay .productDetail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 100%;
  text-align: center;
  padding: 20px 5px;
}
body .prodOverlay .productTitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
body .prodOverlay .productPrice {
  letter-spacing: 2px;
  margin-bottom: 20px;
}
body .prodOverlay .productDesc {
  font-weight: 300;
  font-size: 18px;
  color: #B9B8B6;
}
body .prodOverlay .productButton {
  position: relative;
  margin-top: -100px;
  margin-left: 465px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background: #F1EDE4;
  display: block;
  width: 8rem;
  height: 2rem;
  font-size: 0.75rem;
  color: #513F35;
  transition: 0.32s;
}
body .prodOverlay .productButton span {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  transition: 0.32s;
}
body .signupSection {
  background: url(../img/signup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  margin-bottom: 300px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
body .info {
  width: 50%;
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, 0.8);
}
body .inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 3px solid #C4BCAD;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
  color: #675A49;
  outline: none;
}
body .noBullet {
  list-style-type: none;
  left: 25%;
}
body #signUp {
  border: 1px solid #C4BCAD;
  color: #675A49;
  font-size: 18px;
  background-color: #C4BCAD;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
}
body #signUp:hover {
  background-color: #C4BCAD;
  color: #fff;
  padding: 10px 80px;
}

/*# sourceMappingURL=style.css.map */
