@mixin backCol {
    background-color: #C4BCAD;
}

@mixin darkBackCol {
background-color: #675A49;
}

@mixin lightColWhite {
    color: #fff;
}

@mixin lightCol {
    color: #C4BCAD;
}

@mixin darkCol {
    color: #675A49;
}